<div class="login">

    <div class="row">

        <!-- username -->
        <div class="col-xs-12 username">

            <div class="input-group">
                <label class="input-group-addon"><i class="fa fa-user"></i></label>
                <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" ng-model="username">
            </div>

        </div>

        <!-- password -->
        <div class="col-xs-12 password">

            <div class="input-group">
                <label class="input-group-addon"><i class="fa fa-lock"></i></label>
                <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1" ng-model="password">
            </div>

        </div>

        <!-- login now! -->
        <div class="col-xs-12 sign-in">

            <button type="button" class="btn btn-default btn-lg" ng-click="doLogin()">
                SIGN IN
            </button>

        </div>


    </div>




</div>