<!-- Only for mobile -->
<div class="toolbar-custom">

    <div class="row text-center" ng-show="viewSelected==='order'">

        <div class="col-xs-12 home-option" ng-click="goBack()">
            <i class="fa fa-home"></i>
        </div>
        <div class="col-xs-12 add-product-option" ng-click="addNewProduct()">
            <i class="fa fa-barcode"></i>
            <p class="description">Add Product</p>
        </div>
        <div class="col-xs-12 reset-option" ng-click="onResetAll()">
            <i class="fa fa-remove"></i>
            <p class="description">Reset</p>
        </div>

    </div>

    <div class="row text-center" ng-show="viewSelected==='settings'">

        <div class="col-xs-12 home-option" ng-click="goBack()">
            <i class="fa fa-home"></i>
        </div>

        <div class="col-xs-12 test-settings-option" ng-click="testConnection()">
            <i class="fa fa-refresh"></i>
            <p class="description">Test Settings</p>
        </div>

        <div class="col-xs-12 reset-settings-option" ng-click="resetSettings()">
            <i class="fa fa-rotate-left"></i>
            <p class="description">Reset Settings</p>
        </div>


    </div>

</div>