.Order {
  left: 0;
  margin-left: 70px;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;

  position: absolute;
  right: 0;
  height: 100%;

  overflow: hidden;

  .row {
    margin: 0;
    > div {
      padding: 0; //cols without padding
    }
  }

  .order-view {
    background-color: #16a085;
    height: 100%;
    position: absolute;
    width: 100%;
    padding-top: 15px;
    overflow: auto;


  }

  .panel{
    transition: all 0.5s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    -webkit-transition: all 0.5s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    color: #fff;

    > .row{
      margin:15px;
    }
  }

  #yourElement{

    video{
      width: 300px;
    }
    canvas{
      position: absolute;
      top: 0;
      left: 0;
      width: 300px;
    }

  }


  .bar-code{
    margin-top: 100px;//will be removed after insert grid

    //bar image
    #input-addon{
      visibility: hidden;
    }
    #interactive{
      position: relative;
      overflow: auto;
      height: 250px;

      .imgBuffer{
        width: 100%;
      }
      .drawingBuffer{
        width: 100%;
        position: absolute;
        top:0;
        left: 0;
      }

    }

  }

  //hint
  .order-hint{
    margin-top: 30px;
  }

//Grid matters
  .grid-row {

    .header {
      background-color: darken(#16a085, 10%);
      color: white;
      font-size: 1.5em;
      padding: 1rem;
      text-align: center;
      text-transform: uppercase;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    .grid {
      width: 100%;

      .header-th-group {
        padding: 0;
      }

      .header-th {
        background-color: darken(#16a085, 20%);
      }

      .header-ref {
        border-bottom-left-radius: 5px;
      }

      .header-qtt {
        border-bottom-right-radius: 5px;
      }

      .product-item {
        background-color: darken(#16a085, 15%);
        border-radius: 20px;
        margin-top: 5px;

        .product-columns {
          height: 40px;
          padding-top: 10px;

          &:last-child {
            padding-top: 0;
            font-size: 25px;
            border-radius: 20px;
            background-color: rgba(255, 0, 0, 0.5);
          }

        }

      }

    }
  }

}