.Settings {
  left: 0;
  margin-left: 70px;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;

  position: absolute;
  right: 0;
  height: 100%;

  overflow: hidden;

  .row {
    margin: 0;
    > div {
      padding: 0; //cols without padding
    }
  }

  .settings-view {
    background-color: #ff5d4c;
    height: 100%;
    position: absolute;
    width: 100%;
    padding-top: 15px;
    overflow: auto;


  }

  .panel{
    transition: all 0.5s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    -webkit-transition: all 0.5s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    color: #fff;

    > .row{
      margin:15px;
      > div {
        margin-bottom: 15px;
      }
    }
  }

  p{
    margin-bottom: 0;
  }

  .input-group{
    i{
      width: 14px;
    }
  }

  .panel{
    label, input{
      background-color: initial;
      color:white;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: white;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: white;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: white;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: white;
    }
  }

}